body { 
    margin: 40px auto;
    max-width: 650px;
    line-height: 1.6;
    font-size: 18px;
    color: #444;
    padding: 0 10px;
    font-family: Helvetica, sans-serif;
}

h1,h2,h3 {
    line-height: 1.2;
}

ul {
    line-height: 1.2;
    list-style-type: none;
}

.navigation {
    font-size: 12px;
    color: #6E6E6E;
}

pre {
    padding: 10px 10px 10px 10px;
    background-color: rgb(123, 123, 123);
    color: #FFFFFF;
    overflow: auto;
    font-size: 12px;
}
